*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.nav{
    display: flex;
   margin-left: auto;
   background-color: rgb(79, 202, 202);
}
.col-6{
    width: calc(100%/2);
    text-align: center;

}
.class{
    padding-top: 140px;
}
.col-1{
    width: calc(100%/2);
}
li{

    list-style: none;
    margin: 20px 20px;
}
li a{
    font-weight: bold;
    padding: 10px 10px;
    color: rgb(24, 24, 25);
    text-decoration: none;
}
.image{
    width: 500px;
    text-align: center;
}
button.butt{
    color: rgb(21, 20, 20);
    background-color: rgb(79, 202, 202);
    height: 40px;
    width: 320px;
    border: solid 2px rgb(79, 202, 202);
    margin-top: 40px;
}
